<a href="https://colab.research.google.com/github/Nethra07-star/PYTHON-FOR-ML/blob/main/pandas%20series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Colab!

In [2]:
import pandas as pd
import numpy as np
arr=np.array(['p','a','n','d','a','s'])
a=pd.Series(arr)
print("Series from array")
print(a)

Series from array
0    p
1    a
2    n
3    d
4    a
5    s
dtype: object

In [3]:
arr={'x':0.,'y':1.,'z':2.}
b=pd.Series(arr)
print("Series from dictionary:\n")
print(b)

Series from dictionary:

x    0.0
y    1.0
z    2.0
dtype: float64

In [4]:
x= pd.Series(4,index=[0,1,2,3])
print("\nSeries using scalar\n")
print(x)

Series using scalar

0    4
1    4
2    4
3    4
dtype: int64

In [5]:
x=pd.Series([1,2,3],index=['a','b','c'])
print("\nSeries through index:")
print(x)

Series through index:
a    1
b    2
c    3
dtype: int64

In [6]:
a=pd.Series(data=[1,2,3,4])
print("\n series:\n",a)
print("\nindex:\n",a.index)
print("\nvalues:\n",a.values)
print("\nshape:",a.shape)
print("\nDimension:",a.ndim)
print("\nsize:a.size")

 series:
 0    1
1    2
2    3
3    4
dtype: int64

index:
 RangeIndex(start=0, stop=4, step=1)

values:
 [1 2 3 4]

shape: (4,)

Dimension: 1

size:a.size