<a href="https://colab.research.google.com/github/Nethra07-star/PYTHON-FOR-ML/blob/main/pandas%20function2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
print("DataFrame.apply functions:\n")
info=pd.DataFrame([[2,7]]*3,columns=['P','Q'])
print("\nOriginal DataFrame:\n",info)
print("\nSquare roor of DataFrame:\n",info.apply(np.sqrt))
print("\nSum of each column:\n",info.apply(np.sum,axis=0))
print("\nSum of each row:\n",info.apply(np.sum,axis=1))

DataFrame.apply functions:


Original DataFrame:
    P  Q
0  2  7
1  2  7
2  2  7

Square roor of DataFrame:
           P         Q
0  1.414214  2.645751
1  1.414214  2.645751
2  1.414214  2.645751

Sum of each column:
 P     6
Q    21
dtype: int64

Sum of each row:
 0    9
1    9
2    9
dtype: int64

In [9]:
info=pd.DataFrame([[1,5,7],[2,7,8],[3,6,9]],columns=['X','Y','Z'])
print("\nOriginal DataFrame:\n",info)
print("\nMinimum and Maximum of each column:\n")
print(info.agg(['min','max']))

Original DataFrame:
    X  Y  Z
0  1  5  7
1  2  7  8
2  3  6  9

Minimum and Maximum of each column:

     X  Y  Z
min  1  5  7
max  3  7  9

In [16]:
print("\nDataFrame.Assign function:\n")
print("\nDataFrame.Assign function:\n")
d2=pd.DataFrame([['Dale',123],['Mark',143]],columns=['Emp','ID'])
print("\nOriginal DataFrame:\n",d2)
d2['Age']=[35,40]
print("\nAdding new column:\n",d2)
d=d2.assign(Sex=['Male','Male'])
print("\nAdding new column:\n",d)

DataFrame.Assign function:


DataFrame.Assign function:


Original DataFrame:
     Emp   ID
0  Dale  123
1  Mark  143

Adding new column:
     Emp   ID  Age
0  Dale  123   35
1  Mark  143   40

Adding new column:
     Emp   ID  Age   Sex
0  Dale  123   35  Male
1  Mark  143   40  Male

In [18]:
print("\nDataFrme.sort function:\n")
info=pd.DataFrame(np.random.random((5,2)),index=[3,2,0,4,1],columns=['X','Y'])
print("\nOriginal DataFrame:\n",info)
info2=info.sort_index()
print("\nSort inde:\n",info2)
info3=info.sort_values(by=['X'])
print("\nSort values:\n",info3)

DataFrme.sort function:


Original DataFrame:
           X         Y
3  0.656529  0.949138
2  0.946183  0.142482
0  0.120750  0.156638
4  0.169336  0.302446
1  0.146472  0.612770

Sort inde:
           X         Y
0  0.120750  0.156638
1  0.146472  0.612770
2  0.946183  0.142482
3  0.656529  0.949138
4  0.169336  0.302446

Sort values:
           X         Y
0  0.120750  0.156638
1  0.146472  0.612770
4  0.169336  0.302446
3  0.656529  0.949138
2  0.946183  0.142482

In [20]:
print("\nDataFrame.Merge function:\n")
left=pd.DataFrame({'id':[1,2,3,4,5],'Name':['Alex','Amy','Allen','Alice','Ayoung'],'sub':['sub2','sub4','sub6','sub5','sub1']})
right=pd.DataFrame({'id':[1,2,3,4,5],'Name':['Billy','brian','bran','bryce','betty'],'sub':['sub2','sub4','sub3','sub6','sub5']})
print(left)
print(right)
print(pd.merge(left,right,on='id'))

DataFrame.Merge function:

   id    Name   sub
0   1    Alex  sub2
1   2     Amy  sub4
2   3   Allen  sub6
3   4   Alice  sub5
4   5  Ayoung  sub1
   id   Name   sub
0   1  Billy  sub2
1   2  brian  sub4
2   3   bran  sub3
3   4  bryce  sub6
4   5  betty  sub5
   id  Name_x sub_x Name_y sub_y
0   1    Alex  sub2  Billy  sub2
1   2     Amy  sub4  brian  sub4
2   3   Allen  sub6   bran  sub3
3   4   Alice  sub5  bryce  sub6
4   5  Ayoung  sub1  betty  sub5